@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Montserrat:wght@200&family=Poppins:wght@300;600&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Montserrat:wght@200&family=Poppins:wght@300;600&family=Roboto+Mono:wght@200&family=Work+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

#hyper{
    color: #291D49;
    cursor: pointer;
    padding: 0 0 0 0;
}

#hyper:hover{
    color:#6E50B9;
    padding: 0 0 0 0;
    transform: scale(1.05);
}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: #312450;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}

ul{
    display: flex;
    margin: 23px;
}

a{
    color: #F9F9F9;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}

a:hover{
    color: #E2C3FD;
    transform: scale(1.05);
}

body{
    background-image: linear-gradient(to right, #866dc5 , #291D49);
    font-family: 'Poppins', sans-serif;
}

.custom-btn {
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    
}

.custom-btn:hover{
    border: 1px solid #F9F9F9;
    transform: scale(1.05);
    color: #F9F9F9;
    box-shadow: 0px 0px 10px #6E50B9, 0px 0px 10px;
}

p, h4{
    color: #291D49;
    padding: 5% 5% 0 5%;
    margin: 0 0 0 0;
}

h5{
    color: #291D49;
    padding: 0 5% 0 5%;
    text-align: justify;
}

h1{
    color: #291D49;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

.container{
    background-color: #E0E0E0;
    margin: 3% 10% 3% 10%;
    padding-top: 5%;
    background-position: 50% 50%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.container2{
    position: relative;
    background-position: 50% 50%;
    text-align: center;
    margin: 0 0 3% 0;
}


.col1{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col2{
    flex: 0 0 49.999%;
    max-width: 49.999%;
    text-align: justify;
}

.col3{
    text-align: center;
    max-width: 100%;
}

.col4{
    text-align: justify;
    max-width: 100%;
}

#descricao, #metas{
    padding: 0% 0% 3% 0%;
}

.colunas{
    flex-wrap: wrap;
    display: flex;
    margin: 0 0 5% 0;
}


#imobiliary{
    width: 50%;
    padding: None;
    margin: None;
}

#videos{
    margin: 5% 0 0 7%;
}
